.mainPage {
	border: 1px solid aquamarine;
	border-radius: 4px;
	padding: 10px 10px 15px 15px;
}

.shortPostList {
	margin-left: 0; 
	padding-left: 0; 
  }

.link:active,
.link:hover,
.link {
	text-decoration: none;
	color: #666;
}